
/* Navigation */
nav {
    width: 100%;
    position: relative;
    background-color: #007991;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 0;
    z-index: 1000;
    font-family: 'Luckiest Guy', cursive;
}

nav ul {
    list-style: none; 
    margin-right: 20px; 
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar a {
    color: white;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    transition: ease 0.40s;
}

.navbar a:hover,
.navbar a.active {
    background: white;
    color: black;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

body {
    background-color:#222E50 !important;
    }

h1{
    font-size: 50px;
    line-height: 64px;
    font-family: 'Luckiest Guy', cursive;
}

.about-us {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 90px 0;
}
.pic {
  height: auto;
  width: 400px;
  border-radius: 12px;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  color: #333;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
font-family: 'Luckiest Guy', cursive;
}
.text h5 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
font-family: 'Luckiest Guy', cursive;
}
span {
  color: #4070f4;
}
.text p {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

